:host {
  display: block;
  width: 100%;
  height: 100%;
}

.relative {
  position: relative;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.bg-black {
  background-color: #313e3f; /* deep matrix black */
}

.overflow-hidden {
  overflow: hidden;
}

.block {
  display: block;
}

.absolute {
  position: absolute;
}

.top-0 {
  top: 0;
}

.left-0 {
  left: 0;
}

.pointer-events-none {
  pointer-events: none;
}
